.content nav ul li .active-menu
{
    color: orange;
}
.title
{
    margin-bottom: 4%;
}
form
{
    text-align: left;
}
form input[type="text"]
{
    outline: none;
    border: 2px solid #eee;
    padding: 1% 3%;
    width: 60%;
    margin: 2% 0;
}
form input:focus
{
    border-color: grey;
}
form input[type="radio"]
{
    margin: 2% 0;
}
form input[type="submit"]
{
    background: #fff;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 1% 3%;
}
form input[type="submit"]:hover
{
    cursor: pointer;
    border-color: orange;
}
.logout
{
    position: absolute;
    right: 0;
    bottom: 0;
}
.logout:hover .logout-color
{
    fill: orange;
}